/////////////////
// colors.scss //
/////////////////

$purple: 	#b10dc9; 	$dark-purple: 	darken($purple, 5%);
$blue: 		#0074d9; 	$dark-blue: 	darken($blue, 5%);
$green: 	#2ecc40; 	$dark-green: 	darken($green, 5%);
$red: 		#d9534f; 	$dark-red: 		darken($red, 5%);
$orange:	#ff851b; 	$dark-orange:	darken($orange, 5%);