/**
 * AB_colors.scss v1.0.0
 * https://github.com/andybeckmann/AB_colors/scss/components/AB_colors.scss
 */

$purple: 	#b10dc9; 	$dark-purple: 	darken($purple, 5%);
$aqua:		#72d5fc;	$dark-aqua:		darken($aqua, 5%);
$blue: 		#0074d9; 	$dark-blue: 	darken($blue, 5%);
$teal:		#1abc9c;	$dark-teal:		darken($teal, 5%);
$green: 	#2ecc40; 	$dark-green: 	darken($green, 5%);
$red: 		#d9534f; 	$dark-red: 		darken($red, 5%);
$orange:	#ff851b; 	$dark-orange:	darken($orange, 5%);
$maroon:	#85114b;	$dark-maroon:	darken($maroon, 5%);
$fuchsia:	#f012be;	$dark-fuchsia:	darken($fuchsia, 5%);